//Variables

$colortext: #262422; 
$fontweightfortext: 700; 

// Mixins

@mixin rightSectionSubDisplay{
  display: flex;
  justify-content: space-between;
  font-family: Helvetica; 
  color: #262422; 
}
@mixin display-section-plus($dimension){
  position:relative; 
  top: $dimension;
  width: 100%;
}
@mixin display-svg($dimension){
  border: 1px solid #545251;
   border-radius: 5px; 
    width: 12px; 
    height:0.1px; 
    position: absolute; 
    top: $dimension; 
    left: 50px; 
}
@mixin rotate-svg{
  transform : rotate(90deg);
  transition: transform 200ms;
}
@mixin display-content($dimension){
  position: absolute; 
      top: $dimension; 
      left: 110px; 
      width: 75%;
      opacity: 0; 
}
@mixin text($color: $colortext){
  color: $color;  
  font-weight: $fontweightfortext; 
}

.body {
    height: 500px;
    width: 100%;
    border: 2px solid red; 
    display: flex;
  }
  
  .main {
    position: relative;
    border: 2px solid purple;
    width: 20px;
    height: 20px;

  }
  
  .span {
    position: relative;
    background-color: black;
    cursor: pointer; 
  }

  input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20000; 

  }
  
  .menu {
    height: 500px;
    background: white;
    position: fixed;
    display: flex; 
    width: 98%;
    transform: translateX(100%);
  }
  
  input:checked + .menu {
    transform: translateX(-0%);
    transition: transform 400ms ease;
  }
  
  .left-section {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    width: 30%;
    height: 100%;
    position: relative; 
    &__text{
      width: 100%;
      height: 80%; 
      text-align: right; 
      & > p{
        line-height: 20px; 
        font-size: 30px; 
      }
      &--home{
        @include text
      }
      &--tolefi{
        @include text(#262422)
      }
      &--real-estate{
        @include text (#3f6e88);
      }
      &--retail-distribution{
        @include text(#6d6f77); 
      }
      &--finance {
        @include text (#294b7e)
      }
      &--organisation-chart{
        @include text
      }
      &--actualites {
        @include text
      }
      &--contact-form{
        @include text
 
      }
    }
  }

  .middle-section {
   position: relative; 
    display: flex; 
    width: 30%;
    height: 100%;
    &__more {
      &--display{
        display: flex; 
        flex-direction: column;
      }
    }
    &__plus{
      position: relative; 
      width: 25%;
      text-align: center; 
      height: 30%; 
      top: 225px;
      &--real-estate{
        @include display-section-plus(-9px); 
        height: 20%;
        & > svg {
         @include display-svg(10px)
        }
        & > svg:nth-child(2){
         @include rotate-svg

        }
      }
      &--retail-distribution{
        @include display-section-plus(-15px);
        height: 20%;
        & > svg {
          @include display-svg(20px)
        }
        & > svg:nth-child(2){
          @include rotate-svg
        }
 
      }
      & > p:nth-child(3){
        @include display-section-plus(-15px); 
        height: 20%;
        & > svg {
          @include display-svg(25px)
        }
        & > svg:nth-child(2){
          @include rotate-svg
        }
      }
    }
    &__content{
      @include display-content(215px);

    }
    &__contentone{
      @include display-content(266px);
    }
    &__contenttwo{
      @include display-content(318px)

    }

  }
  
  .right-section {
    width: 28%;
    height: 100%;
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end; 
    &__container{
      height: 78%; 
      width: 100%; 
      &__searchbar{
        border: 1px solid grey; 
        overflow: hidden; 
        border-radius: 10px; 
        height: 25px; 
        & > input{
          outline: none; 
          border: none; 
        }
      }
      &__date{
        margin-top: 20px; 
        margin-bottom: 10px; 
        display: flex;
        font-size: 15px; 
        font-weight: 400; 
        @include rightSectionSubDisplay; 
        justify-content: space-between; 
        & > p:nth-child(2){
          font-weight: bold; 
        }
      }
      &__address{
        border-top: 1px solid grey; 
        border-bottom: 1px solid grey; 
        display: flex; 
        align-items: center; 
        font-size: 12px; 
        height: 20%; 
        @include rightSectionSubDisplay; 
      }
      &__map{
        margin-top: 50px; 
        border: 2px solid black; 
        width: 100%; 
        height: 50%; 
      }
    }
  }

.active{
  opacity: 1; 
  transition: opacity 1000ms; 
}

.activeSvg{
  transform: rotate(180deg) !important; 
  transition: transform 500ms; 
}
  